
    <div class="jumbotron" style="text-align:center;">
        <h1>
            @ViewBag.CheckoutCompleteMessage
        </h1>
        <hr />
        <div class="pull-right">
            <a class="btn btn-success" asp-controller="Home" asp-action="Index">Back to Main Page</a>
        </div>
    </div>
