h1>Welcome to A2Z company!</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>General Info</h2>
            <p>
                This projects is a sample E-Commrce web application for a company selling drinks, clothes and shoes. Admin User can add more Categories or products in addition to editting or removing them.
            </p>
        </div>
    </div>
</div>